@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --background: linear-gradient(135deg, #122a9e7e 0%, #171e61 100%);
  --color-primary: #667;
  --color-secondary: #171e61;
  --boton-padding: 20px 40px;
  --color-third: #0b1361;
}

/*Aca estoy dandole a los colores un nombre de variable para llamarlos en otros elementos de forma mas fail*/

body {
  font-family: "Raleway", sans-serif;
}

.hero {
  height: 90vh;
  background-image: var(--background),
    url("../assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero .container {
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
}

.presentation__picture {
  width: 400px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2em;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
}

.nav__items {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
  font-size: 1em;
}

.nav__items:hover {
  color: var(--color-primary);
  background-color: #fff;
}

.hero__container {
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 0px;
  width: 100%;
}

.hero__texts {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

@keyframes escribo {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero__title {
  display: inline;
  flex-wrap: wrap;
  font-size: 3em;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 30ch;
  /* width: 48ch;   ch= hace referencia al numero de caracteres*/
  animation: escribo 5s steps(48), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  overflow-wrap: break-word;
}

.hero__subtitle {
  margin-top: 20px;
  animation: mostrarH2 6s ease-in forwards;
  font-size: 2.3em;
  color: #f7df0f;
  font-family: "Raleway", sans-serif;
}

@keyframes mostrarH2 {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  99% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
    font-size: 2.3em;
  }
}

.hero__cta {
  background: #fff;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 40px;
  max-width: max-content;
}

.hero__cta:hover {
  background: var(--color-primary);
  color: #fff;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  /* para que se posiciones pegado al header en la posicion mas baja*/
  left: 0;
  width: 100%;
  height: 100px;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1200px;
}

.presentation {
  padding-top: 0%;
  text-align: center;
  border-bottom: var(--color-primary) solid;
}

.presentation__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  /*Para que no pierda resolucion al achicar la imagen*/
  object-position: top;
  /*Para posicionar mejor la imagen y se vea la cara en el centro*/
}

.presentation__copy {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1em;
  color: var(--color-secondary) solid;
  text-decoration: none;
  line-height: 1.8;
  text-align: left;
}

.presentation__copy li {
  list-style-type: square;
}

.presentation__cta {
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

.presentation__cta:hover {
  color: #fff;
  background-color: var(--color-secondary);
}

.about {
  border-bottom: var(--color-primary) solid;
}

.about .container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  /*centro todo verticalmente*/
}

.about__texts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about__paragraph {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  text-align: center;
  list-style-type: none;
  line-height: 1.8;
}

.about__picture {
  width: 300px;
}

/*PROYECTOS*/
.projects {
  border-bottom: #667 solid;
}

.projects__flex {
  display: flex;
  flex-direction: column;
}

.projects__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 20px;
}

.projects__title {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--color-primary);
  font-weight: 700;
}

.projects__item__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
}

.projects__item__content p {
  font-size: 1.1em;
}

img {
  width: 220px;
  margin: 10px;
}

.projects__github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 1.2em;
}

.projects__github a {
  padding-left: 8px;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.1em;
}

/*Testimony*/

.testimony__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/*Este es el hijo de testimony grid*/
.testimony__item {
  width: 95%;
  margin: 0 auto;
  background: var(--background);
  box-shadow: 0 8px 10px rgba(66, 66, 66, 0.5);
  border-radius: 7px;
  padding: 30px 25px;
  color: white;
  margin-bottom: 50px;
  font-size: 1.2em;
}

.testimony__person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.testimony__img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 30px;
}

.testimony__name {
  font-size: 1em;
  margin-bottom: 10px;
}

.testimony__verification {
  color: #e0afa0;
  font-weight: 300;
}

.testimony__review {
  font-weight: 300;
}

/*Footer*/
.footer__grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 20px;
  align-items: center;
  background: var(--background);
  padding: 20px;
}

.nav__footer {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.nav__footer__items {
  padding: 10px;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1em;
  font-weight: inherit;
  padding: 10px 15px;
}

.nav__footer__items:hover {
  color: var(--color-primary);
  background-color: #fff;
}

.footer__title {
  color: #fff;
  font-size: 2rem;
  margin: 20px;
}

.footer__icons {
  display: flex;
  flex-direction: column;
}

.whatsapp,
.email {
  display: flex;
  align-items: center;
}

.whatsapp a,
.email a {
  text-decoration: none;
  color: #fff;
}

.whatsapp img {
  width: 10%;
  margin-left: 5px;
}

.email img {
  width: 10%;
  margin-left: 5px;
}

/*-------------RESPONSIVE--------------*/

@media screen and (max-width: 955px) {
  .testimony__grid {
    grid-template-columns: 1fr;
  }

  .footer__grid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .nav__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
  }

  .nav__footer__items {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
  }

  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .whatsapp,
  .email {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__wave {
    position: absolute;
    bottom: 0;
    /* para que se posiciones pegado al header en la posicion mas baja*/
    left: 0;
    width: 100%;
    height: 100px;
  }

  main {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    max-width: 1200px;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 670px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 220px;
    margin-top: 10px;
    font-size: 1.1em;
  }
  .hero__title {
    white-space: pre-wrap;
    font-size: 2em;
    width: 100%;
    font-family: monospace;
    animation: none;
    height: auto;
    border-right: none;
    text-align: center;
  }
  .hero__subtitle {
    font-size: 2em;
    text-align: center;
    animation: none;
    margin-bottom: 10px;
  }
  .hero__cta {
    position: absolute;
    bottom: 180px;
  }
  .nav__footer {
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 415px) {
  main {
    font-size: 0.8em;
  }
  .hero__title {
    font-size: 1.5em;
  }
  .hero__subtitle {
    white-space: pre-wrap;
    font-size: 1.5em;
  }
}
